# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# Arquivos padrão vscode e git
.vscode
.github

# Ignorar arquivos de saída
output/
output/*
output

# Ignorar arquivos JSON
*.json

# Ignorar arquivos BIN
*.bin
/POO1/ProjetodeTestes/target/
/POO1/OlaMundo5/nbproject/private/
/POO1/OlaMundo5/build/
/POO1/OlaMundo5/dist/
