# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# Arquivos padrão vscode e git
.vscode
.github

# Ignorar arquivos de saída
output/
output/*
output

# Ignorar arquivos JSON
*.json

# Ignorar arquivos BIN
*.bin
/POO1/ProjetodeTestes/target/
/POO1/OlaMundo5/nbproject/private/
/POO1/OlaMundo5/build/
/POO1/OlaMundo5/dist/
/POO1/PassagemParametros/nbproject/private/
/POO1/PassagemParametros/build/
/POO1/criacaometodos01/nbproject/private/
/POO1/criacaometodos01/build/
/POO1/UsandoClassesSemMain/nbproject/private/
/POO1/UsandoClassesSemMain/build/
/POO1/LeituraDeArquivo/nbproject/private/
/POO1/LeituraDeArquivo/build/
/POO1/LerNotas/nbproject/private/
/POO1/LeituraDeArquivo_1/nbproject/private/
/POO1/EscreverNoArquivo/nbproject/private/
/POO1/ExemplosdeMath/nbproject/private/
/POO1/ExemplosdeMath/build/
/POO1/MetodosStrings/nbproject/private/
/POO1/MetodosStrings/build/
/POO1/VissibilidadedeClasses/nbproject/private/
/POO1/VissibilidadedeClasses/build/
/POO1/LerGuerreiros/nbproject/private/
/POO1/ArrayList/nbproject/private/
/POO1/ArrayList/build/
/POO1/ExemplosdeArrayList/nbproject/private/
/POO1/ExemplosdeArrayList/build/
/POO1/Associacao/nbproject/private/
/POO1/Associacao/build/
/POO1/UsandoPessoaPolimorfa/nbproject/private/
/POO1/UsandoPessoaPolimorfa/build/
/POO1/encapsulamento_atributos/nbproject/private/
/POO1/MetodosEClassesAbistratas/nbproject/private/
/POO1/Interfaces/nbproject/private/
/POO1/Ececoes/nbproject/private/
/POO1/Ececoes/build/
/POO1/Ececoes/dist/
/POO1/Excecoes/nbproject/private/
/POO1/Excecoes/build/
/POO1/UsandoComparable/nbproject/private/
/POO1/UsandoComparable/build/
/POO1/UsandoComparableEComparator/nbproject/private/
/POO1/TrabalhoAplicativoCompleto/nbproject/private/
/POO1/ProvaAeronave/nbproject/private/
/POO1/ProvaAeronave/build/
/POO1/UsandoDrones/nbproject/private/
/POO1/UsandoDrones/build/
