[Desktop Entry]
Type=Application
Name=Git Automático
Comment=Atualiza o repositório Git
Exec=/home/luis-das-artimanhas/IFES-SISTEMAS-DE-INFORMACAO/MD/git-auto.sh
Terminal=true
Icon=utilities-terminal

