.logo {
    margin: 0 10px;
}

.main__container-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background-color: red;
}

.main__container-item p {
    margin: 5px;
}