*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../imgs/giphy.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
}

code {
    font-family: monospace;
}

header{
    min-height: 80px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid snow;
}

header a:hover{
    background-color: darkgreen;
}

tela ul,
tela ol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 0 15px;
}

tela{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}