.container {
  width: 50%; /* 50% da largura da tela */
  margin: 0 auto;
  padding: 2em; /* 2 vezes o tamanho da fonte */
  background-color: lightblue;
}

h1 {
  font-size: 2rem; /* 2 vezes o tamanho da fonte raiz */
}

p {
  font-size: 1.5em; /* 1.5 vezes o tamanho da fonte do elemento pai */
}

.box {
  border: 2px solid;
  padding: 10px;
  border-radius: 25px;
  width: 100px;
  height: 100px;
  animation: animation-rgb-roda 5s infinite, roda 1.5s infinite;
  color: white;
  background-color: darkblue;
  margin: 10px;
  transition: all 0.7s ease-out;
  -webkit-animation: animation-rgb-roda 5s infinite, roda 1.5s infinite;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.box:hover{
  opacity: 0.7;
}