@font-face {
  font-family: "UOLText";
  src: url("../fonts/uol-text-lighter.woff2?v5") format("woff2"),
    url("../fonts/uol-text-lighter.woff?v5") format("woff"),
    url("../fonts/uol-text-lighter.ttf?v5") format("truetype");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "UOLText";
  src: url("../fonts/uol-text-light.woff2?v5") format("woff2"),
    url("../fonts/uol-text-light.woff?v5") format("woff"),
    url("../fonts/uol-text-light.ttf?v5") format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "UOLText";
  src: url("../fonts/uol-text-regular.woff2?v5") format("woff2"),
    url("../fonts/uol-text-regular.woff?v5") format("woff"),
    url("../fonts/uol-text-regular.ttf?v5") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UOLText";
  src: url("../fonts/uol-text-bold.woff2?v5") format("woff2"),
    url("../fonts/uol-text-bold.woff?v5") format("woff"),
    url("../fonts/uol-text-bold.ttf?v5") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "UOLIcons";
  src: url("../fonts/uol-icons-vueland-home.woff?v1")
      format("woff"),
    url("../fonts/uol-icons-vueland-home.ttf?v1")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}